body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 30px;
}
.bulecolor{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    
}
.half-width img{
    width: 90%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange , yellow);
    padding: 10px 40px;
    color: black;
    border-radius: 7px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-bigger{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 50px grey;
}
#web-dev-experience{
    border-left: 7px solid;
    border-bottom: 7px solid;
    border-image: linear-gradient(blue, lightblue);
    border-image-slice: 1;
}
#full-stack-experience{
    border-left: 7px solid;
    border-bottom: 7px solid;
    border-image: linear-gradient(rgb(255, 0, 0), rgb(230, 210, 173));
    border-image-slice: 1;
}
footer p{
    text-align: center;
}